.git
.venv
venv
node_modules
**/node_modules
packages/rae-open-claw/node_modules
dist
build
*.log
.openclaw_config/
node_modules/
packages/rae-phoenix/node_modules
packages/rae-phoenix/venv
packages/rae-phoenix/.git
packages/rae-phoenix/frontend-master
packages/rae-phoenix/.pytest_cache
packages/rae-phoenix/htmlcov
